<%= javascript_pack_tag 'hello_react' %>

<% if !current_user %>
  <div class="p-5 mt-5 mb-4 bg-light rounded-3 jumbotron">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Welcome to the Stores Hub</h1>
      <p class="col-7 p-0 fs-4">Log in to shop online from different available stores fron different categories.</p>
      <%= link_to 'Log in', new_user_session_path, class:'btn bg-yellow text-dark-gray' %>
    
    </div>
  </div>
<% end %>


