<div class="checkout-container text-center">
  <div class="bg-yellow p-4 rounded-3 shadow-sm">
    <h2 class="mb-4">Thank you for ordering</h2>
    <h5>Order Summary</h5>
    <p><%= @receipt.order_summary %> on <%= @receipt.created_at %></p>
  </div>
</div>

